body {
    font-family: 'Garet Book', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(237, 228, 206, 0.2);

}

header {
    background-color: rgba(237, 228, 206, 0.43);
    color: #1d4960;
    padding: 1rem;
}

h1 {
    font-family: Garet, sans-serif;
    margin: 0;
    text-align: center;
}

main {
    max-width: 80rem;
    margin: 1rem auto;
    padding: 1rem;
    color: #1d4257;
}

.search {
    display: flex;
    margin-bottom: 1rem;
}

.search input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-right: none;
}

.search button {
    padding: 0.5rem 1rem;
    border: 1px solid #1d4257;
    background-color: #1d4257;
    color: #fff;
    cursor: pointer;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    width: 300px;
    margin: 0.5rem;
    text-align: center;
}

.movie img {
    width: 100%;
}

@media (max-width: 600px) {

    .search input {
        margin-bottom: 0.5rem;
    }

    .search {
        flex-direction: column;
    }

}